.icons {
    list-style-type: none;
    padding: 0;
}

.icon {
    position: relative;
    cursor: pointer;
}

.icon-container {
    position: relative;
    display: flex;
    align-items: center;
}

.icon-tooltip {
    position: absolute;
    top: 50%;
    left: calc(100% + 10px); /* Position the tooltip to the right of the icon */
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 5px;
    border-radius: 3px;
    white-space: nowrap;
    visibility: hidden;
    z-index: 1; /* Ensure the tooltip appears above other elements */
    border: 1px solid rgba(186, 186, 186, 0.8); /* Set border for the tooltip */
}

.icon:hover .icon-tooltip {
    visibility: visible;
}
